// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$green: #27f693;
$blue: #158f99;
$black: #1c1c1c;

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

.btn {
  &.btn-primary {
    background: transparent;
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1em;

    &:hover {
      background: white;
      color: black
    }
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: $green;

  header {
    .navbar-brand {
      position: fixed;
      width: 175px;
      margin: 25px 45px;
      z-index: 5;
    }
  }

  button.navbar-toggler {
    width: auto;
    position: fixed;
    right: 15px;
    z-index: 5;

    &:focus {
      outline: none;
    }

    &:hover {
      span.burger-slice:nth-of-type(1) {
        transform: rotate(45deg);
      }
      span.burger-slice:nth-of-type(2) {
        background: transparent;
      }
      span.burger-slice:nth-of-type(3) {
        transform: rotate(-45deg);
        margin-top: -25px;
      }
    }

    &.collapsed {
      span.burger-slice {
        background-color: white;
      }
    }

    span.burger-slice {
      display: block;
      width: 40px;
      height: 5px;
      margin: 7.5px 0;
      background-color: white;
      border-radius: 3px;
      transition: 0.4s all ease;
      transition-delay: 0.5s;
    }

    &[aria-expanded="true"] {
      &:hover {
        span.burger-slice:nth-of-type(3) {
          margin-top: -25px;
        }
      }
    }
  }

  nav.navbar {
    height: 95px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid transparent;
    transition: .3s all ease;

    .navbar-nav {
      flex-direction: column;
    }

    .navbar-collapse {
      position: fixed;
      top: 0;
      background: #27f693;
      background: linear-gradient(72deg, #27f69300 33%, #27f693 33%);
      -webkit-backdrop-filter: blur(0);
      backdrop-filter: blur(0px);
      z-index: -1;
      right: -100%;
      width: 100%;
      height: 100vh;
      padding: 50px;
      transition: .5s all ease;

      &.show {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        right: 0;
        transition: 0.5s all ease;

        @include media-breakpoint-down(md) {
          display: flex;
        }

        .nav-link {
          font-size: 1.5em;
          font-weight: 600;
          color: black;
          transition: 1.5s all ease;

          @include media-breakpoint-up(md) {
            font-size: 3em;
          }

          &::after {
            display: inline-flex;
            content: '';
            background: black;
            width: 50px;
            height: 5px;
            position: absolute;
            margin-top: 35px;
            right: -50px;
            transition: 0.5s all ease;

          }

          &:hover {
            margin-right: 25px;
            color: white;
            transition: 0.5s all ease;

            &::after {
              right: 0;
              background: white;
              transition: 0.5s all ease;
            }
          }
        }
      }
    }

    a.navbar-brand {
      max-width: 150px;
    }

    a {
      transition: 0.3s all ease;
    }

    &.scrolled {
      background: #1d1d1d;
      //border-bottom: 2px solid rgba(255,255,255,0.5);
      transition: 0.3s all ease;
    }
  }

  p {
    font-family: 'Catamaran', sans-serif;
    color: #4e4e4e;
    line-height: 32px;
  }

  section {
    &.banner {
      border-top: 1px solid #191919;

      @keyframes introSlide {
        0% {background-position: 0}
        100% {background-position: 0 66%}
      }

      .jumbotron {
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        background-position: 0%;
        background-attachment: fixed;
        animation: introSlide 5s forwards;

        .overlay {
          background: rgb(21,143,153);
          background: linear-gradient(138deg,#158f99 0,rgba(60,21,153,0.8) 100%);
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .jumbo-content {
          width: 66%;
        }

        h1 {
          font-size: 4.5em;
          line-height: 1.25em;
          font-weight: bold;
          margin-bottom: 0.5em;
          text-shadow: 0 0 50px #1b5c60;

          span {
            color: $green;
          }
        }

        h2.lead {
          font-family: Montserrat,sans-serif;
          padding: 5px 0;
          font-size: 1.75em;
          font-weight: 500;
          line-height: 2em;
          width: 75%;
          border-bottom: 4px solid #fff;
          display: inline;
        }

        a.cta {
          font-family: "Montserrat", sans-serif;
          display: inline-block;
          font-size: 20px;
          text-transform: uppercase;
          padding: 20px 50px;
          color: #27f693;
          margin-top: 100px;
          margin-right: 20px;
          transition: .3s all ease;
          border-radius: 48px;
          font-weight: lighter;
          letter-spacing: 4px;

          &.prominent {
            font-weight: bold;
            background: rgb(21,153,97);
            background: linear-gradient(138deg,#00BCD4 0,#009688 100%);
            box-shadow: 0px 0px 35px #00BCD4;
            color: white;
          }

          &.secondary {
            border: 1px solid $green;
          }

          &:hover {
            text-decoration: none;
            background: $green;
            color: black;
            transition: 0.3s all ease;
          }
        }
      }

    }

    &.blocks {
      box-shadow: 0px 0px 50px -25px #000000a6;

      .highlights-block {
        padding: 5em 0;

        .card {
          background: white;
          border: 2px solid white;
          border-radius: 10px;
          //padding: 50px 10px;
          margin: 15px;
          box-shadow: 0px 0px 50px -17px #151515d4;
          display: inline-block;

          .card-body {
            display: flex;
            align-items: flex-end;
            justify-content: left;
            color: #000;
            padding-top: 12em;

            .card-title {
              line-height: 1.5em;
              margin: 0;
            }
          }
        }
      }
    }
  }

  &.page-template-front-page {
    .block {
      text-align: left;
      height: 40vw;
      //background: white;
      color: white;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;

      .block-content {
        u {
          text-decoration: none;
          border-bottom: 2px solid #fff;
          display: inline;
        }

        .graphic-content {
          h2 {
            position: absolute;
            z-index: 3;
            border: 5px solid white;
            line-height: 1.5em;
            padding: 40px;
            border-radius: 28px;
            font-size: 1.5em;
            margin-left: -60px;
          }
          img {
            &.graphic {
              position: absolute;
              border-radius: 20px;
              box-shadow: 0px 0px 60px -25px black;
              margin-top: -25vh;
              margin-left: -25%;

              &.fore {
                width: 425px;
                z-index: 1;
                filter: blur(14px);
                opacity: 0.5;
              }
              &.back {
                width: 425px;
                z-index: 0;
              }
            }
          }
        }


      }

      h2 {
        font-size: 2em;
        z-index: 1;
      }

      h3 {
        color: white;
        width: 75%;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 25px;
      }

      h4 {
        font-size: 20px;
        width: 60%;
        line-height: 36px;
        font-weight: lighter;
      }

      h5 {
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 25px;
      }

      &.light {
        color: $black;

        .btn {
          border-color: $black;
          color: $black;
          margin: 15px;

          &.cta {
            font-size: 0.75em;
            border-radius: 35px;
          }

          &:hover {
            background: $black;
            color: white;
          }
        }
      }
    }

    .row {
      height: 100vh;
      display: flex;
      align-items: center;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: -50px;
      border-radius: 25px;
      box-shadow: 0px 0px 50px -25px rgba(0,0,0,0.75);

      .overlay {
        width: 100%;
      }
    }
  }

  &.page-template-content-page {
    background: $black;

    #full-width-page-wrapper {
      padding: 0;

      .wp-block-coblocks-column {
        margin: 0;
        &:first-of-type {
          -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
          height: auto;
          background: #0e0e0e;

          .wp-block-coblocks-column__inner {
            //padding: 60px;
          }
        }
      }
    }

    h1 {
      font-size: 3.5em;
      width: 66%;
      line-height: 1.5em;
      text-align: center;
      margin: 0 auto;

       &::before,
       &::after {
         content: '';
         display: block;
         position: absolute;
         background:rgba(255,255,255,0.75);
         width: 3px;
         height: 200px;
         left: calc(50% - 2.5px);
         margin: 0;
       }

      &::before {
        top: 5px;
      }

      &::after {
        top: 10em;
      }


    }

    h2 {
      color: #46a0a9;
    }

    nav {
      background: transparent;

      &.scrolled {
        background-color: rgba(29,29,29,0.75);
      }
    }

    .jumbotron {
      padding: 0;
      background-color: $blue;
      color: white;
      background-size: cover;
      background-attachment: fixed;
      background-position: bottom;

      .overlay {
        padding: 30em 0;
        padding-top: 20em;
        background: rgb(21,143,153);
        background: linear-gradient(0deg, $black 0%, rgba(21,143,153,0.15) 100%);
      }

      a {
        color: white;
        border-bottom: 2px solid white;
        text-decoration: none;
      }
    }

    article {
      background: $black;

      .entry-content {
        line-height: 1.75em;
        padding: 40px 0;

        h2 {
          color: white;
          margin-top: 25px;
        }

        h5 {
          color: white;
          line-height: 40px;
        }

        p {
          font-size: 1.2em;
          margin-top: 25px;
          color: white;
          line-height: 40px;
        }

        .block-content {
          padding: 50px;
        }

        .text-block-full {
          background: rgb(21, 153, 97);
          background: linear-gradient(138deg, rgba(21,153,97,1) 0%, rgba(21,129,153,1) 100%);
          margin: 3em auto;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-family: Montserrat,sans-serif;
            color: white;
            font-size: 1.5em;
            line-height: 2.25em;
            width: 100%;
            max-width: 768px;
            margin: 0;
            padding: 200px 0;
            text-align: center;
          }
        }
      }
    }

    [role="form"] {
      max-width: 100%;
    }

    form {
      column-count: 2;
      column-gap: 3em;

      label {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      textarea,
      input {
        font-size: 1.5em !important;
        padding: 15px !important;
        color: white !important;
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
        border-radius: 0 !important;
        border-bottom: 2px solid white !important;

        &[type="submit"] {
          border: none !important;
          background: $green !important;
        }

        &:focus {
          background-color: transparent;
          border-color: $green !important;
        }
      }

      textarea {
        margin-top: 15px;
        border: 2px solid white !important;
      }

      .wpcf7-response-output {
        border: none;
        background: #bb0000;
        color: white;
        padding: 10px;
        text-align: center;
      }
    }
  }

  #wrapper-footer {
    background: transparent;
    border-top: 1px solid rgba(255,255,255,0.125);
    color: white;

    img {
      max-width: 200px;
    }

    #footer-menu {
      margin-top: 20px;

      li {
        display: inline-flex;
        a {
          font-size: 16px;
          color: white;
          text-decoration: none;
          border-bottom: 2px solid white;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .footer {
      padding-top: 25px;
      border-top: 1px solid rgba(255,255,255,0.125);
      margin-top: 25px;
    }
  }
}